@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50% , -50%);

    height: 627px;
    width: 311px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}
#tela{
    position: relative;
    top: 81px;
    left: 24px;

    width: 264px;
    height: 469px;
}
section#redes-sociais{
    display: flex;
    flex-direction: column ;
    align-items: flex-end;
}
#redes-sociais > a > img{
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0);
    box-sizing: border-box;

}
#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.804);
    transform: translate(-2px,-2px);
    transition: transform 0.4s, border 0.2s;
}